h1{
    color: red;
    background-color: green;
    margin: auto 50px;
    padding: -10px;
    text-align: center;
    width: 50%;
}

#top {
    margin-bottom: 50px;
}

#bottom {
    margin-top: 20px;
}
